@charset "utf-8";

img{max-width: 100%;}
.index_wrap #footer {position:relative;left:auto;right:auto;bottom:auto;}

.section {background-position:center;background-size:cover;}
#section1 {background-color:#222;}
#section2 {background-color:#222;}
#section3 {background-image:url(../images/main/mv3.jpg);}
#section4 {background-image:url(../images/main/mv4.jpg);}
#section5 {background-image:url(../images/main/mv5.jpg);}
#section6 {background-image:url(../images/main/mv6.jpg);}
#section7 {background-image:url(../images/main/mv7.jpg);}

/* 오른쪽 메뉴 */
.right-nav {position:fixed; top:40%; right:0; width:40px; z-index:90;}
.right-nav li {width:40px; height:21px; line-height:21px;}
.right-nav li a {display:block; position:relative; height:21px; line-height:21px;}
.right-nav li a span {display:none;}
.right-nav li a:after {content:''; display:block; position:absolute; top:50%; right:20px; width:8px; height:8px; margin-top:-4px; background-color:rgba(255, 255, 255,0.4); border-radius:4px;}
.right-nav li.active a:after {content:''; display:block; position:absolute; top:50%; right:18px; width:12px; height:12px; margin-top:-6px; border:2px solid rgba(150, 204, 41, 1); background-color:rgba(255, 255, 255,0); border-radius:12px; box-sizing:border-box;}

.con_wrap {height:100%;}
.con_wrap .cont, .con_wrap .conb {position:relative;height:58%;}
#section1 .con_wrap .cont .con, #section1 .con_wrap .conb .con {position:absolute;left:0;right:0; bottom: -30%; top: auto;}
.con_wrap .cont .con, .con_wrap .conb .con {position:absolute;left:0;right:0;}
#section1 .con_wrap .cont .con, #section1 .con_wrap .conb .con{}
.con_wrap .cont .con {bottom: 0;}
.con_wrap .conb .con {top: 0;}

#section1 .swiper {padding:0;}
#section1 .swiper_wrap {height:100%;}
#section1 .swiper_pagination {bottom:73px;}
#section1 .swiper-pagination-bullet {width:32px;height:7px;margin:0 7px;border-radius:0;border:0;background:#fff;opacity:0.38;}
#section1 .swiper-pagination-bullet-active {background-color:rgba(255,255,255,0);opacity:1; border:1px solid rgba(255,255,255,0.8);}
#section1 .swiper_slide {background-position:center;background-size:cover;}
#section1 .cont .con {}
/*#section1 .con1 {background-image:url(../images/main/mv1_1.jpg);}
#section1 .con2 {background-image:url(../images/main/mv1_2.jpg);}*/
#section1 .con {text-align:center;}
#section1 .cont .con:before {content:'';display:none;position:absolute;left:50%;bottom:185px;width:1px;height:30px;background:#90b312;opacity:0.87;}
#section1 .cont .con1:before {bottom:290px;}
#section1 .tit, #section1 .desc {display:block;color:#fff;opacity:0.87;}
#section1 .tit {font-size:46px;line-height:58px;font-weight:500;}
#section1 .tit em {display:block;padding-bottom:10px;font-size:23px;line-height:26px;font-weight:300;}
#section1 .desc {padding-top:15px;font-size:17px;line-height:28px;font-weight:300;}

#section2 .sec2_box{padding: 0 30px; margin-top: 20%;}
#section2 .sec2_box > div{position: relative;}
#section2 .sec2_box .top_box{margin-bottom: 10%;}
#section2 .sec2_box .text_box{position: absolute; top: 0; color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 95%;}
#section2 .sec2_box .text_box *{color: #fff;}
#section2 .sec2_box .text_box h3{font-size: 22px; margin-bottom: 15px;}
#section2 .sec2_box .text_box p{font-size: 13px; line-height: 20px; font-weight: 300;}
#section2 .sec2_box .text_box .btn_box{display: flex; justify-content: space-between; flex-direction:row-revers; -webkit-flex-direction: row-reverse; margin-top: 20px;}
#section2 .sec2_box .text_box a{font-size: 15px; position: relative;}
#section2 .sec2_box .text_box a:after{content: ""; display:inline-block; width: 27px; height: 27px; margin-left: 10px; background: url(../images/main/ico_link.png) no-repeat; background-size: 27px; position: relative; transform:translateY(25%);}

#section3 .con {text-align:center;}
#section3 .cont .con {padding-bottom:0px;}
/* #section3 .cont .con:before {content:'';display:block;width:1px;height:30px;margin:0 auto;background:#aa8f63;opacity:0.87;} */
#section3 .conb .con {padding-top:110px;}
#section3 .tit, #section3 .desc {display:block;color:#fff;opacity:0.87;}
#section3 .tit {margin-top:30px;font-size:32px;line-height:1;font-weight:500;}
#section3 .tit strong {display:inline-block; position:relative; margin:0 5px; text-indent:-5000px;}
#section3 .tit strong:before {content:''; display:block; position:absolute; left:50%; top:50%; width:4px; height:4px; margin:-2px 0 0 -2px; background:#fff; border-radius:4px;}
#section3 .tit em {font-weight:400;}
#section3 .desc {padding-top:25px;color:rgba(255,255,255,0.6);font-size:15px;line-height:24px;letter-spacing:0;}
#section3 ul {padding:0 25px;}
#section3 ul:after {content:'';display:block;clear:both;}
#section3 li {position:relative;float:left;width:33.333%;}
#section3 li:before {content:'';display:block;position:absolute;left:0;top:0;bottom:0;width:1px;background:#fff;opacity:0.12;}
#section3 li:first-child:before {display:none;}
#section3 li .link {display:block;position:relative;height:150px;}
#section3 li .link span {display:block;color:#fff;font-size:17px;line-height:22px;;opacity:0.87;;}
#section3 li .link:before, #section3 li .link:after {content:'';display:block;position:absolute;left:50%;}
#section3 li .link:before {top:50px;width: 46px;height:46px;background:url(../images/main/ico_main.png) no-repeat; background-size:320px auto; margin-left: -19px;}
#section3 li .link:before {background: url(../images/main/sec3_ico01.png) no-repeat center; background-size: 100%;}
#section3 li:nth-child(2) .link:before{background: url(../images/main/sec3_ico02.png) no-repeat center; background-size: 100%;}
#section3 li:nth-child(3) .link:before{background: url(../images/main/sec3_ico03.png) no-repeat center; background-size: 100%;}
#section3 li .link:after {top:122px;width:27px;height:27px;margin-left:-10px;background:url(../images/main/ico_link.png) no-repeat;background-size:27px;}

#section4 ul {margin:-4px;}
#section4 ul:after {content:'';display:block;clear:both;}
#section4 li {float:left;width:33.333%;height:110px;box-sizing:border-box;padding:4px;overflow:hidden;}
#section4 li img {width:100%;height:100%;}
#section4 .link {display:block;}
#section4 .con > .tit {margin-top: 30px; font-size: 32px; line-height: 1; font-weight: 500; color: #fff; text-align: center; margin: 30px 0; margin-left: auto; padding-right: 0;}
#section4 .link {display:block;}
#section4 .tit {display:block;margin-left:35px;padding-right:15px;color:#fff;font-size:18px;line-height:28px;word-break:keep-all;word-wrap:break-word;opacity:0.87;}
#section4 .flag {display:inline-block;margin:0 0 15px 35px;height:24px;line-height:24px;padding:0 10px;border:1px solid;border-color:rgba(255,255,255,0.1);color:rgba(255,255,255,0.87);font-size:10px;font-family:'roboto';letter-spacing:0;}
#section4 .date {display:block;padding:12px 0 0 35px;color:#fff;font-size:12px;line-height:1;opacity:0.54;}
#section4 .cont ul {height:100%; width: 80%; margin: auto;}
#section4 .cont ul li{height: auto;}
#section4 .cont .date {padding-bottom:50px;}
#section4 .cont .sns_box{text-align:center; margin-bottom: 30px;}
#section4 .cont .sns_box a{display:inline-block; margin: 0 10px; width: 26px;}
#section4 .conb .con {padding-top:30px;bottom:0;}
#section4 .conb ul {height:100%;}
#section4 .conb ul:after {content:'';display:block;clear:both;}
#section4 .conb li {float:left;width:50%;height:100%;box-sizing:border-box;background-position:center;background-size:cover;}
#section4 .conb li.event {background-image:url(../images/main/bg_event.jpg);}
#section4 .conb li.franch {background-image:url(../images/main/bg_franch.jpg);}
#section4 .conb .flag {margin-top:55px;}
#section4 .conb .tit:after {content:'';display:block;width:27px;height:27px;margin-top:15px;background:url(../images/main/ico_link.png) no-repeat;background-size:27px;opacity:0.6;}
#section4 .conb li.franch .tit:before {content:'';display:block;width:74px;height:15px;margin:4px 0 5px;background:url(../images/main/txt_phomein.png) no-repeat;background-size:auto 15px;}
#section4 .conb .link {height:100%;}

#section5 .con {text-align:center;}
#section5 .cont .con {padding-bottom:5px;}
#section5 .conb .con {padding-top:30px;}
#section5 .tit, #section5 .desc {display:block;color:#fff;opacity:0.87;}
#section5 .tit {font-size:32px;line-height:38px;font-family:'Nanum Square';font-weight:700;}
#section5 .tit em {display:block;margin-bottom:5px;font-size:22px;font-weight:bold;}
#section5 .desc {padding-top:25px;color:rgba(255,255,255,0.6);font-size:15px;line-height:22px;letter-spacing:0;}
#section5 .ico:before, #section5 .ico:after {content:'';display:block;margin:0 auto;}
#section5 .ico:before {content:'';display:block;width:1px;height:30px;margin:0 auto;background:#aa8f63;opacity:0.87;}
#section5 .ico:after {width:73px;height:74px;margin-top:44px;background:url(../images/main/ico_main.png) no-repeat;background-size:360px auto;background-position:-287px -107px;}

#section6 .cont .con {padding-bottom:90px;text-align:center;}
/*#section6 .cont .con:after {content:'';display:inline-block;margin-top:15px;width:48px;height:50px;background:url(../images/main/ico_insta.png) no-repeat;background-size:48px auto;}*/
#section6 .tit {display:block;color:#fff;font-size:33px;line-height:40px;opacity:0.87;font-weight:400;}
#section6 .tit em {display:block;font-weight:700;}
#section6 .conb .con {margin-top:-65px;padding:0 25px;}
#section6 ul {margin:-4px;}
#section6 ul:after {content:'';display:block;clear:both;}
#section6 li {float:left;width:33.333%;height:110px;box-sizing:border-box;padding:4px;overflow:hidden;}
#section6 li img {width:100%;height:100%;}

#section7 .link {display:block;}
#section7 .tit {display:block;margin-left:35px;padding-right:20px;color:#fff;font-size:18px;line-height:28px;word-break:keep-all;word-wrap:break-word;opacity:0.87;}
#section7 .flag {display:inline-block;margin:0 0 15px 35px;height:24px;line-height:24px;padding:0 10px;border:1px solid;border-color:rgba(255,255,255,0.1);color:rgba(255,255,255,0.87);font-size:10px;font-family:'roboto';letter-spacing:0;}
#section7 .date {display:block;padding:12px 0 0 35px;color:#fff;font-size:12px;line-height:1;opacity:0.54;}
#section7 .cont .date {padding-bottom:50px;}
#section7 .conb .con {padding-top:30px;bottom:0;}
#section7 .conb ul {height:100%;}
#section7 .conb ul:after {content:'';display:block;clear:both;}
#section7 .conb li {float:left;width:50%;height:100%;box-sizing:border-box;background-position:center;background-size:cover;}
#section7 .conb li.event {background-image:url(../images/main/bg_event.jpg);}
#section7 .conb li.franch {background-image:url(../images/main/bg_franch.jpg);}
#section7 .conb .flag {margin-top:55px;}
#section7 .conb .tit:after {content:'';display:block;width:27px;height:27px;margin-top:15px;background:url(../images/main/ico_link.png) no-repeat;background-size:27px;opacity:0.6;}
#section7 .conb li.franch .tit:before {content:'';display:block;width:74px;height:15px;margin:4px 0 5px;background:url(../images/main/txt_phomein.png) no-repeat;background-size:auto 15px;}
#section7 .conb .link {height:100%;}

#section8 #footer {margin-bottom:-1px;}








